.menu-nav
  - for (const name in config.menu)
    - const item = config.menu[name];
    .menu-nav-item
      .menu-nav-title
        - if (item.widget.toLowerCase() === 'links') {
          a
            span= name
        - } else {
          a(href= item_url(item))
            span= name
        - }
      .menu-nav-content
        | !{ item_widget(item) }
